.messagesListBox{
    width: 70%;
}

.messagesList{
    overflow: auto;
    padding: 5px ;
    height: 700px;
    list-style-type: none;
    margin: 0;
}

.icon{
    color: #FFFFFF;
    cursor: pointer;
    background-color: #3CA7E1;
    border-radius: 50%;
    padding: 10px;
}

.messagesList{
    overflow: auto;
    padding: 5px ;
    height: 700px;
    list-style-type: none;
    margin: 0;
}

.noMessage{
    height: 700px;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 30%;
}
