.header{
    align-items: center;
    background-color: #28A4E3;
    border-style: groove;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 65px;
}

.text{
    color: white;
}
