.client-messenger {
    background-color: #CED6DF;
    display: flex;
    width: 800px;
    margin: 0 auto;

}

.message__box--robot{
    margin-left: auto;
    background-color: #FFFFFF;

}

.message__box--user2112{
    background-color: #EEFDDC;
}
